<?xml version="1.0"?>
<!-- 
/**
 * @category   MercadoLibre
 * @package    MercadoLibre_Items
 * @author     ModuleCreator
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <modules>
        <MercadoLibre_Items>
            <version>0.1.2</version>
        </MercadoLibre_Items>
    </modules>
    <frontend>
        <routers>
            <items>
                <use>standard</use>
                <args>
                    <module>MercadoLibre_Items</module>
                    <frontName>items</frontName>
                </args>
            </items>
        </routers>
        <layout>
            <updates>
                <items>
                    <file>items.xml</file>
                </items>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<items>
				<use>admin</use>
				<args>
					<module>MercadoLibre_Items</module>
					<frontName>items</frontName>
				</args>
			</items>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<items module="items">
				<title>MercadoLibre</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="items">
						<title>Manage Items</title>
						<sort_order>10</sort_order>
						<action>items/adminhtml_items</action>
					</items>
					<orders module="items">
						<title>Manage Orders</title>
						<sort_order>20</sort_order>
						<action>items/adminhtml_items</action>
					</orders>
					<questions module="items">
						<title>Manage Questions</title>
						<sort_order>30</sort_order>
						<action>items/adminhtml_items</action>
					</questions>
					<feedback module="items">
						<title>Manage Feedback</title>
						<sort_order>40</sort_order>
						<action>items/adminhtml_items</action>
					</feedback>
				</children>
			</items>
		</menu>

		<acl>
			<resources>
				<admin>  <!--This is acl based on URL. If you see URL it would be /admin/system_config/ -->
					<children>
						<system>
							<children>
	                               		 <config>
	                                  			  <children>
											<mlitems translate="title" module="items">  <!-- This is name of the section created by us -->
												<title>Mercado  Libre Settings</title>  <!-- Title as shown in User->Roles->Permissions Window -->
												<sort_order>99</sort_order>
											</mlitems>
      									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>

		<layout>
			<updates>
				<items>
					<file>items.xml</file>
				</items>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <items>
                <class>MercadoLibre_Items_Model</class>
                <resourceModel>items_mysql4</resourceModel>
            </items>
            <items_mysql4>
                <class>MercadoLibre_Items_Model_Mysql4</class>
                <entities>
					<melicategoryupdate>
                        <table>meli_category_update</table>
                    </melicategoryupdate>
					<melicategories>
                        <table>meli_categories</table>
                    </melicategories>
					<melicategoryattributes>
                        <table>meli_category_attributes</table>
                    </melicategoryattributes>
					<melicategoryattributevalues>
                        <table>meli_category_attribute_values</table>
                    </melicategoryattributevalues>
                </entities>
            </items_mysql4>
        </models>
        <resources>
            <items_setup>
                <setup>
                    <module>MercadoLibre_Items</module>					
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </items_setup>
            <items_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </items_write>
            <items_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </items_read>
        </resources>
        <blocks>
            <items>
                <class>MercadoLibre_Items_Block</class>
            </items>
        </blocks>
        <helpers>
            <items>
                <class>MercadoLibre_Items_Helper</class>
            </items>
        </helpers>
		<template>
			<email>                                                                   
			  <meli_notification-template>
				<label>Cron Job Notification Message</label>
				<file>meli_notification-template.html</file>
				<type>html</type>
			  </meli_notification-template>
			</email>
	  </template>
    </global>
   <crontab>
        <jobs>
            <mercadolibre_items_getallcategoriesData>
                <schedule>
                    <cron_expr>0 0 * * 0</cron_expr><!-- every week run at 11PM -->
                </schedule>
                <run>
                    <model>mercadolibre_items/observer::getMLCatergoriesAllData</model>
                </run>
            </mercadolibre_items_getallcategoriesData>
            <mercadolibre_items_getallcategoriesattrData>
                <schedule>
                    <cron_expr>30 0 * * 0</cron_expr><!-- every week run at 11PM -->
                </schedule>
                <run>
                    <model>mercadolibre_items/observer::getMLCategoryAttributes</model>
                </run>
            </mercadolibre_items_getallcategoriesattrData>      
			<mercadolibre_items_logcleanup>
                <schedule>
                    <cron_expr>50 0 * * 0</cron_expr><!-- every week run at 11PM -->
                </schedule>
                <run>
                    <model>mercadolibre_items/observer::getCleanUpLog</model>
                </run>
            </mercadolibre_items_logcleanup>            
        </jobs>
    </crontab>

	<default>  <!-- This needs to be placed direct inside <config> tag -->
        <mlitems>  <!-- Name of section -->
        	<generalsetting> <!-- Name of group -->
        		<enablelogging>1</enablelogging> <!-- Name of field -->
				<logcleanup>7</logcleanup> <!-- Name of field -->
				<notificationemailid>gupta.p@indiabulls.com</notificationemailid>
        	</generalsetting>
			<categoriesupdateinformation>
			</categoriesupdateinformation>
        </mlitems>
    </default>


</config>